.card-header_show {
    display: inline-flex !important;
    background-color: rgba(238, 235, 230, 0.438);
    color: black;
    font-weight: 200;
    font-style: italic;
    box-shadow: 1px 1px 1px 1px grey;
    .img {
        margin: 10px;
        height: 150px;
        width: fit-content;
    }
}
.card-header {
    background-color: rgba(238, 235, 230, 0.438);
    color: black;
    font-weight: 200;
    font-style: italic;
    box-shadow: 1px 1px 1px 1px grey;
    &_heading {
        margin: 10px;
        width: 50%;
        float: left !important;
        .img {
            margin: 10px;
            height: 150px;
            width: fit-content;
        }
    }
}
.card-header_heading.img {
    height: fit-content;
    margin: 10px;
    justify-content: center;
    .img {
        margin: 10px;
        height: 150px;
        width: fit-content;
    }
}
.card-body {
    box-shadow: 1px 1px 1px 1px grey;
}
.py-4 {
    background-color: rgba(238, 235, 230, 0.438);
    box-shadow: 1px 1px 1px 1px grey;
}

.list-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    box-shadow: 1px 1px 1px 1px grey;
    flex-wrap: wrap;

    &_content {
        flex-direction: row;
        margin-left: 10px;
        margin-right: 10px;

        .btn {
            text-align: left;
            width: 100%;
        }
    }
    small {
        color: black;
        font-style: italic;
        font-size: 80%;
    }
    .list-block_button {
        display: flex;
        flex-direction: row;
    }
    &_img {
        height: 150px;
        width: auto;
        img {
            display: block;

            margin-left: auto;
            margin-right: auto;
            height: 150px;
            width: auto;
        }
    }
}

.btn {
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
}
div.form-group {
    color: black;
    font-style: italic;
    margin-left: 10px !important;
    margin: 10px;
    .img {
        img {
            height: 150px;
            width: auto;
        }
    }
}
div.note-btn-group.btn-group {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}
.pagination {
    font-size: 7px;
    box-sizing: unset !important;
}

.book-container {
    display: inline-flex;
    align-items: center;
    &_book {
        width: 100%;
    }
}

.readers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 11px;

    &__comments {
        display: inline-block;
        box-shadow: 1px 1px 1px 1px grey;
    }
    ul {
        margin: 20px;
    }
    .img {
        img {
            height: 150px;
            width: auto;
        }
    }
}
